{% extends "base.html" %}

{% block content %}
      <!-- main-container -->
      {% if listAllPosts.count() > 0 %}
      {% for post in listAllPosts %}
      <div class="container main-container">
         <div class="row">
            <div class="col-md-offset-2 col-md-8">
               <article class="blogArtStyle">
                  <h4>{{post.title}}</h4>
                  <hr class="blogItemHR">
                  <br>
                  <p>
                  {{post.content|truncate(200, True , end = '...')}}
                  </p>
                  <br>
                  <a href="/viewpost/{{post.key().id()}}" class="btn btn-success">View Post</a>
                  <h6 class="text-muted"><i class="fa fa-user" aria-hidden="true"></i> {{post.user.firstname}}  {{post.user.lastname}}</h6>
                  <h6 class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> {{post.updatedOn.strftime('%Y-%m-%d')}}</h6>
               </article>
            </div><!-- col-md-8 -->
         </div> <!-- row -->
      </div> <!-- main-container --> 
   {% endfor %}
   {% else %}
   <div class="container main-container">
         <div class="row">
            <div class="col-md-offset-2 col-md-8">
               <article class="blogArtStyle">
                  <h4>No posts yet</h4>
                  <hr class="blogItemHR">
                  <br>
                  <p>
                     Login and create the first post for Blog 0440.
                  </p>
                  <br>
                  <a class="btn btn-success" href="/createpost">Create Post</a>
               </article>
            </div><!-- col-md-8 -->
         </div> <!-- row -->
      </div> <!-- main-container --> 
   {% endif %}
     

{% endblock %}