{% extends "base.html" %}

{% block content %}
 <!-- main-container -->
<div class="container main-container">
<div class="row">
   <div class="col-md-offset-1 col-md-10">
      <article class="blogArtStyle">
         <form id="createEditPostForm" method="post" action="/createpost">
            <div class="form-group">
               <label for="title">Post Title</label>
               <input type="text" class="form-control" id="title" name="title" placeholder="Blog Title" value={{post.title}}>
            </div>
            <div class="form-group">
               <label for="content">Content</label>
               <textarea class="form-control" rows="15" id="comment" name="content">{{post.content}}</textarea>
            </div>
            {% if post %}
            <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Update Post</button>
            <a type="submit" class="btn btn-default" href="/viewpost/{{post.key().id()}}"><i class="fa fa-ban" aria-hidden="true"></i></i> Cancel</a>
            {% else %}
            <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Post to Blog</button>
            <a type="submit" class="btn btn-default" href="/home"><i class="fa fa-ban" aria-hidden="true"></i></i> Cancel</a>
            {% endif %}
            
         </form>
      </article>
   </div>
   <!-- row -->
</div>
<!-- main-container -->

{% endblock %}