{% extends "base.html" %}

{% block content %}
<!-- main-container -->
<div class="container main-container">
   <div class="row">
      <div class="col-md-offset-1 col-md-10">
         <article class="blogArtStyle">
            <div class="row">
               <div class="col-xs-6">
                  <h4 >Title goes here</h4>
               </div>
               <div class="col-xs-6">
                  <div class="pull-right">
                     <a href="#" class="btn btn-sm btn-success"  data-toggle="tooltip" data-placement="bottom" title="Like Post"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>  <span class="badge">42</span></a>
                     <a href="#" class="btn btn-sm btn-warning" data-toggle="tooltip" data-placement="bottom" title="Edit Post"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                     <a href="#" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal" data-toggle="tooltip" data-placement="bottom" title="Delete Post" ><i class="fa fa-trash" aria-hidden="true"></i> </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-6">
                  <h6 class="text-muted"><i class="fa fa-user" aria-hidden="true"></i> Vinodh Thiagarajan</h6>
               </div>
               <div class="col-xs-6">
                  <div class="pull-right">
                     <h6 class="text-muted">Updated On : <i class="fa fa-calendar" aria-hidden="true"></i> 06-20-2016</h6>
                  </div>
               </div>
            </div>
            <hr class="blogItemHR">
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <br>
         </article>
         <br>
         <br>
         <br>
         <h5>Comments</h5>
         <hr class="blogItemHR">
         <br>

         {% for i in range(0,5) %}
         <article class="commentArtStyle">
            <div class="row">
               <div class="col-xs-3">
                  <div class="row">
                     <h6 class="text-muted"><i class="fa fa-user" aria-hidden="true"></i> Vinodh Thiagarajan</h6>
                  </div>
                  <div class="row">
                     <h6 class="text-muted"><i class="fa fa-calendar" aria-hidden="true"></i> 06-20-2016</h6>
                  </div>
                  <div class="row">
                     <a href="#" class="btn btn-xs btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> </a>
                     <a href="#" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#myModal2"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                  </div>
                  <div class="row">
                  </div>
               </div>
               <div class="col-xs-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
            </div>
         </article>
         <br>
         {% endfor %}
         <br >
         <hr class="blogItemHR">
         <br>
         <article class="postcommentArtStyle">
            <div class="row">
               <form> 
                  <a href="#" class="btn btn-md btn-success" data-toggle="modal" data-target="#myModal3" data-keyboard="false" data-backdrop="static" ><i class="fa fa-commenting-o" aria-hidden="true"></i> Post Comment
                  </a>
               </form>
            </div>
         </article>
      </div>
      <!-- col-md-8 -->
   </div>
   <!-- row -->
</div>
<!-- main-container -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete Post</h4>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete this Post ?</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete Post</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="myModal2" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete Comment</h4>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete this comment ?</p>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete Comment</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div id="myModal3" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Post Comment</h4>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <label for="comment">Comment</label>
                  <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-xs btn-success"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Post Comment</button>
         </div>
      </div>
      <!-- /.modal-content -->
   </div>
   <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}

   
